@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

@import "screen/greeting.css";
@import "screen/clock.css";
@import "screen/background.css";
@import "screen/quote.css";
@import "screen/todo.css";
@import "screen/weather.css";

body {
  font-family: "Nanum Myeongjo", serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
input {
  color: white;
  text-align: center;
  transition: all 0.5s;
}
input:focus {
  outline: none;
}

.box {
  color: white;
  position: absolute;
  bottom: 3%;
  width: 185px;
  height: 300px;
  border: 1px solid white;
}
.box-text {
  color: white;
  position: absolute;
  left: 1%;
  bottom: 42%;
}
