#quote span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
#quote span:first-child {
  margin-top: 90px;
  margin-bottom: 6px;
  font-size: 23px;
}
