#quote span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
#quote span:first-child {
  margin-top: 90px;

  font-size: 23px;
}
#quote span:last-child {
  margin-top: 7px;
}
