#todo-form input {
  font-family: "Nanum Myeongjo", serif;
  background: transparent;
  border: none;
  margin-left: 8px;
  margin-top: 11px;
  width: 310px;
  font-size: 20px;
  caret-color: white;
  padding: 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#todo-form input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#todo-form input::placeholder {
  color: white;
}
