#weather {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  margin: 25px 20px;
  font-size: 24px;
  color: white;
  /* align-items: center; */
  width: 210px;
  text-align: right;
  align-items: center;
}
#weather span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#weather img {
  display: block;
  width: 90px;
  height: 90px;
}
